﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome Employee</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="Home/ChangePassword">Change password <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Chake Leave details</a>
                <a class="nav-item nav-link" href="#">leave application</a>
                <a class="nav-item nav-link " href="#">Application status</a>
                <a class="nav-item nav-link " href="#">Logout</a>
            </div>
        </div>
    </nav>
 

</body>
</html>
