﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/MainPage.cshtml";
}


<form action="/Home/ChangePassword" method="post">

    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="old Password" name="oldPassword">
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="new Password" name="newPassword">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="confirm Password" name="confirmPassword">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>